{{ template "header" . }}

{{ $repo := .RepoName }}

<h1>{{ .RepoName }}</h1>

<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/{{ $repo }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{ $repo }}/refs">Refs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{ $repo }}/log">Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{ $repo }}/tree">Tree</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row readme">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
    {{ .Readme }}

    <hr>
    <pre>
$ git clone https://{{ .Site.Host }}/git/{{ $repo }}
    </pre>
  </div>
</div>

{{ template "footer" }}
