{{ template "header" . }}

{{ $repo := .Name }}

<h1>{{ .Name }}</h1>

<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/{{ $repo }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{ $repo }}/refs">Refs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{ $repo }}/log">Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{ $repo }}/tree">Tree</a>
      </li>
    </ul>
  </div>
</nav>

<h1>{{ .RepoName }}</h1>
<h2>commit {{ .Commit.Hash }}</h2>

<p>Author: {{ .Commit.Author.Name }} <{{ .Commit.Author.Email }}></p>

<p><pre>{{ .Commit.Message }}</pre></p>

<p>
    <pre>{{ .Commit.Stats }}</pre>
</p>

<hr>

<div>
    <pre>{{ .Changes }}</pre>
</div>

{{ template "footer" }}
